:root {
    --rectangle-light: #e1f7f5;
    --rectangle-deep: #9ac8cd;

    --background: #141e46;
    --pseudo-black: #141e46; 
    --deep-highlight: #C70039;
    --light-highlight: #FF7979;
    --pseudo-white: #FFF5E0;
    
  }

  @font-face {
    font-family: 'Avenir';
    src: url("fonts/AvenirNextLTPro-UltLtCn.otf");
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: 'Avenir';
    src: url("fonts/AvenirNextLTPro-MediumCn.otf");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Avenir';
    src: url("fonts/AvenirNextLTPro-Cn.otf");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Avenir';
    src: url("fonts/AvenirNextLTPro-DemiCn.otf");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Avenir';
    src: url("fonts/AvenirNextLTPro-HeavyCn.otf");
    font-weight: 900;
    font-style: normal;
  }

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Avenir';
    background-color: var(--background);
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    overflow-y: hidden; /* Blocks vertical scrolling */
    overflow-x: auto;
  }

#leftColumn{
    position: absolute;
    left: 0px;
    margin: 1vh;
    width: calc(max(17vw,34vh));
    height: 95%;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    font-size: 3.6vh;
}

#titleBox{
    margin: 1vh;
    background-color: var(--deep-highlight);
    color: var(--pseudo-white);
    height: 13%;
    width: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    box-shadow: black 3px 3px 5px;
}

#title{
    font-size: 1.3em;
    font-weight: 700;
    margin: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
    transform: scaleY(1.35);
    text-shadow: 1px 1px 2px black;
}

#author{
    font-size: 0.6em;
    font-weight: 100;
    margin: 5px;
    margin-top: 5px;
}

#scoreBox{
    margin: 1vh;
    background-color: var(--light-highlight);
    color: var(--pseudo-black);
    width: auto;
    height: 10%;
    position: relative;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    box-shadow: black 3px 3px 5px;
}

.scoreText{
    font-weight: 700;
    font-size: 1em;
    margin: 4px;
    position: absolute;
}

#instructionsBox{
    margin: 1vh;
    background-color: var(--pseudo-white);
    color: var(--pseudo-black);
    width: auto;
    height: 66%;
    text-align: justify;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    box-shadow: black 3px 3px 5px;
}

#instructionsTitle{
    padding-top: 0.2em ;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 0.8em;
    font-weight: 700;
    font-size: 1em;
}

.instructions{
    margin: 1vh; 
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0.6em; 
    font-size: 0.6em;
}


#checkButton {
  width: 100%;
  appearance: none;
  background-color: var(--deep-highlight);
  border-radius: 10px;
  border-style: none;
  box-shadow: white 5px 5px 6px inset, black -3px -3px 6px inset;
  box-sizing: border-box;
  color: var(--pseudo-white);
  cursor: pointer;
  display: inline-block;
  font-size: 7vh;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-shadow: 1px 1px 2px black;
  
}

#checkButton:hover {
  filter: brightness(1.2);
}

#checkButton:active {
  transform: scale(0.95);
  background-color: var(--light-highlight);
  box-shadow: black 5px 5px 6px inset, white -5px -5px 6px inset;
}


#rightColumn{
    position: absolute;
    left: calc(max(17vw,34vh));
    margin: 1vh 5px 1vh 5px;
    width: calc(max(82%,165vh));
    height: 95%;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    
}

#gridContainer{
    width: auto;
    height: 69%;
    margin: 1vh;
    background-color: var(--pseudo-white);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    box-shadow: black 3px 3px 5px;
}

#arsenalContainer{
    width:auto;
    height: 30%;
    margin: 5px;
    margin-top: 1vh;
    background-color: var(--light-highlight);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 5px;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    box-shadow: black 3px 3px 5px;
}

.row {
    display: flex;
    margin: 0 10px 0 10px;
    height: auto;
    align-items: center;
}

.rectangle{
    width: calc(max(12.8vw,26.5vh));
    height: 12.8vh;
    background-color: var(--rectangle-light);
    margin: 1vh;
    border-radius: 10px;
    border-width: 1vh;
    border-style: solid;
    border-color: var(--pseudo-black);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.rectangle:hover {
    scale: 1.05;
  }

.smallShape{
    margin: 0 5px 0 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-filter: drop-shadow(2px 2px 2px black);
    filter: drop-shadow(2px 2px 2px black);
}

.rowLabel{
  width: calc(max(3.8vw,8.5vh));
    height: auto;
    text-align: center;
    font-size: 4vh;
    font-weight: 700;
}

.columnLabel{
    width: calc(max(12.8vw,26.5vh));
    margin: 1vh;
    text-align: center;
    font-size: 4vh;
    font-weight: 700;
    border-radius: 10px;
    border-width: 1vh;
    border-style: solid;
    border-color: var(--pseudo-white);
    -webkit-transition: border-color 0.5s ease-in-out;
    -moz-transition: border-color 0.5s ease-in-out;
    -o-transition: border-color 0.5s ease-in-out;
    -ms-transition: border-color 0.5s ease-in-out;
    transition: border-color 0.5s ease-in-out;
}

.transporter{
    width: 10%;
    margin: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    position: relative;
}

.transporterImage{
    height: 13vh;
    margin: 5px;
    position: absolute;
    top: 23%;
    -webkit-filter: drop-shadow(7px 7px 4px black);
    filter: drop-shadow(7px 7px 4px black);
    cursor: pointer;
    -webkit-transition: scale 0.3s ease-in-out;
    -moz-transition: scale 0.3s ease-in-out;
    -o-transition: scale 0.3s ease-in-out;
    -ms-transition: scale 0.3s ease-in-out;
    transition: scale 0.3s ease-in-out;
    animation-name: wave;
    animation-duration: 10s;
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;
}

@keyframes wave {
  0% {transform: scale(1);}
  5% {transform: scale(1.1);}
  10% {transform: scale(1);}
  25% {transform: scale(1.05);}
  40% {transform: scale(1);}
  55% {transform: scale(1.05);}
  70% {transform: scale(1);}
  85% {transform: scale(1.05);}
  100% {transform: scale(1);}
}

.transporterImage:hover {
    scale: 1.05;
  }

.transporterLabel{
    width: 100%;
    height: 20%;
    font-size: 2.2vh;
    margin: 0px;
    position: absolute;
}

@keyframes fadeIn {
    0%{
      opacity: 0;
      scale:0;
    }
    100%{
      opacity: 1;
      scale:1;
    }
  }
  
  @keyframes fadeOut {
    0%{
      opacity: 1;
      scale: 1;
    }
    100%{
      opacity: 0;
      scale: 0;
    }
  }

  #gameOverWindow {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    width: auto;
    height: auto;
    overflow: auto;
    background-color: var(--deep-highlight);
    color: var(--pseudo-white);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border-width: 10px;
    border-color: var(--pseudo-black);
    border-style: solid;
    box-shadow: 5px 5px 10px black;
    transform-origin: top left;
  }

#gameOverWindow button{
  margin: 10px;
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  padding: .75rem 1.2rem;
  text-align: center;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  width: 200px;
  font-family: Avenir;
  font-weight: 300;
  font-size: 14pt;
}

#gameOverWindow button:hover {
  background-color: #374151;
}

#gameOverWindow button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#buttonsColumn{
  position: absolute;
  right: calc(max(0.6vw,1.2vh));
  width: calc(max(2.75vw,6.45vh));
  display: flex;
  flex-wrap: wrap;
}

#buttonsColumn img{
  cursor: pointer;
  width: 75%;
  height: auto;
  padding: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#buttonsColumn img:hover{
  scale: 1.05;
  filter: brightness(5);
}

.tableOne{
  display: flex;
}

.tableTwo{
  display: none;
}

@keyframes rotate {
  0%  {rotate: 0deg;}
  15% {rotate: 380deg;}
  30% {rotate: 360deg;}
  100%{rotate: 360deg;}
}

@keyframes switch{
  0%{transform: rotate3d(-1,-1,0,0deg);}
  15%{transform: rotate3d(-1,-1,0,180deg);}
  30%{transform: rotate3d(-1,-1,0,0deg);}
}

@keyframes shake{
  5% {rotate: 20deg;}
  10%{rotate:-20deg;}
  15%{rotate: 20deg;}
  20%{rotate:-20deg;}
  25%{rotate: 0deg;}
}

#resetButton:hover{
  animation: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#changeButton:hover{
  transform: rotate3d(-1,-1,0,180deg);
}

#colorButton:hover{
  animation: shake;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

