:root {
    --rectangle-light: #e1f7f5;
    --rectangle-deep: #9ac8cd;

    --background: #141e46;
    --pseudo-black: #141e46; 
    --deep-highlight: #C70039;
    --light-highlight: #FF7979;
    --pseudo-white: #FFF5E0;
    
  }

  @font-face {
    font-family: 'Avenir';
    src: url("../fonts/AvenirNextLTPro-UltLtCn.otf");
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: 'Avenir';
    src: url("../fonts/AvenirNextLTPro-MediumCnIt.otf");
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: 'Avenir';
    src: url("../fonts/AvenirNextLTPro-MediumCn.otf");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Avenir';
    src: url("../fonts/AvenirNextLTPro-Cn.otf");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Avenir';
    src: url("../fonts/AvenirNextLTPro-DemiCn.otf");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Avenir';
    src: url("../fonts/AvenirNextLTPro-HeavyCn.otf");
    font-weight: 900;
    font-style: normal;
  }

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Avenir';
    background-color: var(--background);
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    overflow-y: hidden;
    overflow-x: auto;
  }

.no-select {
    user-select: none; /* For modern browsers */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
}

#leftColumn{
    left: 0px;
    margin: calc(min(1vh,1vw));
    width: calc(max(16vw,34vh));
    height: 95%;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    font-size: calc(max(1.6vw,2.9vh));
}

#titleBox{
    margin: calc(min(1vh,1vw));
    background-color: var(--deep-highlight);
    color: var(--pseudo-white);
    height: 16vh;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    box-shadow: black 3px 3px 5px;
    cursor: pointer;
}

#title{
    font-size: 1.3em;
    font-weight: 700;
    margin: calc(min(1vh,1vw));
    padding-top: calc(min(1vh,1vw));
    margin-bottom: calc(min(1vh,1vw));
    transform: scaleY(1.35);
    text-shadow: 1px 1px 2px black;
}

#author{
    font-size: 0.6em;
    font-weight: 100;
    margin: calc(min(1vh,1vw));
}

#scoreBox{
    margin: calc(min(1vh,1vw));
    background-color: var(--light-highlight);
    color: var(--pseudo-black);
    width: 100%;
    height: 10vh;
    position: relative;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    box-shadow: black 3px 3px 5px;
}

.scoreText{
    font-weight: 700;
    font-size: 1em;
    margin: calc(min(1vh,1vw));
    position: absolute;
}

#instructionsBox{
    margin: calc(min(1vh,1vw));
    background-color: var(--pseudo-white);
    color: var(--pseudo-black);
    width: 100%;
    height: 57vh;
    text-align: justify;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    box-shadow: black 3px 3px 5px;
}

#instructionsBox p{
  font-size: 0.6em;
  padding: 20px;
  padding-bottom: 5px;
}

#instructionsBox h2{
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

#checkButton {
  width: 101%;
  appearance: none;
  background-color: var(--deep-highlight);
  border-radius: 10px;
  border-style: none;
  box-shadow: white 5px 5px 6px inset, black -3px -3px 6px inset;
  box-sizing: border-box;
  color: var(--pseudo-white);
  cursor: pointer;
  display: inline-block;
  font-size: 7vh;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0 1vh 0 1vh;
  outline: none;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-shadow: 1px 1px 2px black;
  
}

#checkButton:hover {
  filter: brightness(1.2);
}

#checkButton:active {
  transform: scale(0.95);
  background-color: var(--light-highlight);
  box-shadow: black 5px 5px 6px inset, white -5px -5px 6px inset;
}


#rightColumn{
    margin: calc(min(1vh,1vw));
    width: calc(max(100vw - 17vw,100vh - 50vh));
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
}

#gridContainer{
    width: 99%;
    height: 64vh;
    margin: calc(min(1vh,1vw));
    background-color: var(--pseudo-white);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    box-shadow: black 3px 3px 5px;
}

#arsenalContainer{
    width:99%;
    height: 28vh;
    margin: calc(min(1vh,1vw));
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

.arsenalTile{
  width: 32.75%;
  height: 28vh;
  background-color: var(--light-highlight);
  box-shadow: 3px 3px 5px black;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  transition: width 0.5s ease-in-out;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.label{
  background-color: var(--rectangle-light);
  border-radius: 50px;
  border-width: 3px;
  border-style: solid;
  border-color: var(--pseudo-black);
  position: relative;
  margin: 0.5vw;
  display: flex;
  padding: 7px;
  font-size: 1.2em;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.tileTitle{
  width: 100%;
  opacity: 0.7;
  font-size: 1.2em;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
}

.mcqWrapper{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: none;
}


.questionWrapper{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.questionWrapper h2{
  width: 90%;
  text-align: center;
}

.questionWrapper h1{
  width: 90%;
  text-align: center;
  margin-top: 0;
}

.answerWrapper{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.answerWrapper button{
  margin: 5px;
  background-color: var(--pseudo-black);
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: var(--pseudo-white);
  cursor: pointer;
  padding: .75rem 1.2rem;
  text-align: center;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  width: 80%;
  font-family: Avenir;
  font-weight: 300;
  font-size: 1.25em;
}

.answerWrapper button:hover {
  filter: brightness(1.5);
}

.answerWrapper button:active {
  filter: brightness(2);
}


#buttonsColumn{
  position: absolute;
  right: 0.5vw;
  top: 0;
  display: flex;
  flex-direction: column;
}

#buttonsColumn img{
  cursor: pointer;
  width: 2.25vw;
  height: auto;
  padding: calc(max(0.5vw,1vh));
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.buttonWrapper span {
  position: absolute;
  right: 100%;
  margin-top: 1.125vw;
  margin-left: 10px;
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.2s ease-in-out;
  text-shadow: 1px 1px 2px white;
  background-color: var(--pseudo-white);
  border-radius: 5px;
  background-color: var(--pseudo-white);
  border-radius: 5px;
  z-index: 1000;
}

.buttonWrapper:hover span {
  opacity: 1;
}

#buttonsColumn img:hover{
  scale: 1.05;
  filter: brightness(5);
}

@keyframes rotate {
  0%  {rotate: 0deg;}
  15% {rotate: 380deg;}
  30% {rotate: 360deg;}
  100%{rotate: 360deg;}
}

@keyframes switch{
  0%{transform: rotate3d(-1,-1,0,0deg);}
  15%{transform: rotate3d(-1,-1,0,180deg);}
  30%{transform: rotate3d(-1,-1,0,0deg);}
}

@keyframes shake{
  10% {rotate: 20deg;}
  20%{rotate:-20deg;}
  30%{rotate: 20deg;}
  40%{rotate:-20deg;}
  50%{rotate: 0deg;}
}

@keyframes smallShake{
  20% {rotate: 5deg;}
  40%{rotate:-5deg;}
  60%{rotate: 5deg;}
  80%{rotate:-5deg;}
  100%{rotate: 0deg;}
}

#colorButton:hover{
  animation: shake;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

.endWindow{
  position: absolute;
  width: 30vw;
  font-size: 1.5em;
  z-index: 2000;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--deep-highlight);
  color: var(--pseudo-white);
  padding: 0 3vw 0 3vw;
  border-radius: 2vw;
  border-style: solid;
  border-width: 1vw;
  border-color: var(--pseudo-black);
  animation: fade;
  animation-duration: 5s;
  display: none;
}

.endWindow p{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5px; 
  margin-top: 0;
}

.table{
  position: absolute;
}

.row {
  display: flex;
  height: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-right: 4vw;
}

.rectangle{
  width: 9vw;
  height: 5vh;
  font-size: 1em;
  background-color: var(--rectangle-light);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3px;
  display: flex;
  box-shadow: 2px 2px 2px var(--pseudo-black);
}

.rowLabel{
  width: 4vw;
  height: 5vh;
  font-size: 1em;
  background-color: var(--rectangle-deep);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3px;
  display: flex;
  box-shadow: 2px 2px 2px var(--pseudo-black);
}

.columnLabel{
  width: 9vw;
  height: 6vh;
  font-size: 1em;
  background-color: var(--rectangle-deep);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3px;
  display: flex;
  box-shadow: 2px 2px 2px var(--pseudo-black);
}

.checkWrapper{
  width: 9vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3px;
  display: flex;
}

.checkWrapper img{
  height: 3vh;
  width: auto;
  position: absolute;
  display: none;
}

.tableCorner{
  width: 4vw;
  height: 6vh;
  margin: 3px;
}

.tableTitle{
  margin: 3px;
  font-size: 1.25em;
  font-weight: 700;
}

.smoothTransitions{
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#diagramContainer{
  position: absolute;
  bottom: 22.5vh;
  width: 95%;
  display: flex;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

}

.diagram{
  position: absolute;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 15vh;
}

.diagram div{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxContainer div{
  transition: background-color 0.5s ease-in-out;
}

#ECV0{
  width: calc(17/42*20vw);
  height: 15vh;
  background-color: var(--deep-highlight);
  color: var(--pseudo-white);
  position: absolute;
  right: calc(25/42*20vw);
  top: 0;
}

#ICV0{
  width: calc(25/42*20vw);
  height: 15vh;
  background-color: var(--light-highlight);
  position: absolute;
  left: calc(17/42*20vw);
  top: 0;
}

.ECVX{
  width: calc(17/42*20vw);
  height: 15vh;
  box-sizing: border-box;
  position: absolute;
  right: calc(25/42*20vw);
  top: 0;
}

.ICVX{
  width: calc(25/42*20vw);
  height: 15vh;
  box-sizing: border-box;
  position: absolute;
  left: calc(17/42*20vw);
  top: 0;
}

#ECV1{
  width: calc(17/42*20vw);
  height: 15vh;
  position: absolute;
  right: calc(25/42*20vw);
  top: 0;
  background-color: var(--deep-highlight);
  transform-origin: bottom right;
  transition: transform 1s ease-in-out;
  color: var(--pseudo-white);
}

#ICV1{
  width: calc(25/42*20vw);
  height: 15vh;
  position: absolute;
  left: calc(17/42*20vw);
  top: 0;
  background-color: var(--light-highlight);
  transform-origin: bottom left;
  transition: transform 1s ease-in-out;
}

.xAxis{
  height: 0;
  border-style: solid;
  border-width: 1px;
  width: 24vw;
  position: absolute;
  border-color: var(--pseudo-black);
  bottom: 0;
  opacity: 0.75;
}

.xAxis span{
  position: absolute;
  top: 0.5vh;
}

.yAxis{
  width: 0;
  height: 20vh;
  position: absolute;
  left: -2vw;
  bottom: 0;
  border-style: solid;
  border-width: 1px;
  border-color: var(--pseudo-black);
  opacity: 0.75;
}

.yAxis span{
  transform: rotate(-90deg);
  position: absolute;
  right: -1vw;
}

.boxContainer{
  width: 20vw;
  height: 15vh;
  position: absolute;
}


.arrow {
  border: solid var(--pseudo-black);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 1px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 1px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  top: 1px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  bottom: 2px;
}

.xArrow{
  position: absolute;
  top: -10px;
  width: 100%;
  height: 3px;
  background-color: var(--pseudo-black);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  display: flex;
}

.yArrow{
  position: absolute;
  height: 100%;
  width: 2.5px;
  background-color: var(--pseudo-black);
  transition: all 0.5s ease-in-out;
  align-items: center;
  justify-content: center;
  opacity: 0;
  text-align: center;
}

@keyframes xExtend {
  0% {width: 1%; opacity: 0};
  10% {width: 10%; opacity: 1;}
  100% {width: 100%; opacity: 1;};
}

@keyframes xRetract {
  0% {width: 100%; opacity: 1};
  95% {width: 5%; opacity: 1;}
  100% {width: 1%; opacity: 0;}
}

@keyframes yExtend {
  0% {height: 1%; opacity: 0};
  10% {height: 10%; opacity: 1;}
  100% {height: 100%; opacity: 1;};
}

@keyframes yRetract {
  0% {height: 100%; opacity: 1};
  95% {height: 5%; opacity: 1;}
  100% {height: 1%; opacity: 0;}
}

.endWindow{
  position: absolute;
  width: 30vw;
  font-size: 1.5em;
  z-index: 10;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--deep-highlight);
  color: var(--pseudo-white);
  padding: 0 3vw 0 3vw;
  border-radius: 2vw;
  border-style: solid;
  border-width: 1vw;
  border-color: var(--pseudo-black);
  animation: fade;
  animation-duration: 5s;
  display: none;
}

.endWindow h3{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-bottom: 5px; 
  margin-top: 10px;
  font-size: 1em;
}

@keyframes fade {
  0%{
    scale: 0;
  }
  20%  {
    scale: 1;
    opacity: 1;
    translate: 0;
  }
  80%  {
    scale: 1;
    opacity: 1;
    translate: 0;
  }
  100%{
    opacity: 0;
    translate: 0 -15vw;
  }
}