/* Global */

:root {
    --rectangle-light: #e1f7f5;
    --rectangle-deep: #9ac8cd;

    --background: #141e46;
    --pseudo-black: #141e46; 
    --deep-highlight: #C70039;
    --light-highlight: #FF7979;
    --pseudo-white: #FFF5E0;
    
  }

  @font-face {
    font-family: 'Avenir';
    src: url("../fonts/AvenirNextLTPro-UltLtCn.otf");
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: 'Avenir';
    src: url("../fonts/AvenirNextLTPro-MediumCnIt.otf");
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: 'Avenir';
    src: url("../fonts/AvenirNextLTPro-MediumCn.otf");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Avenir';
    src: url("../fonts/AvenirNextLTPro-Cn.otf");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Avenir';
    src: url("../fonts/AvenirNextLTPro-DemiCn.otf");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Avenir';
    src: url("../fonts/AvenirNextLTPro-HeavyCn.otf");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'Avenir Regular';
    src: url("../fonts/AvenirNextLTPro-Regular.otf");
    font-weight: 500;
    font-style: normal;
  }

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Avenir';
    background-color: var(--background);
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    overflow-y: hidden;
    overflow-x: auto;
  }

.no-select {
    user-select: none; /* For modern browsers */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
}

/* OVERALL LAYOUT **************************************************************** */

/* Left Column ********************** */

#leftColumn{
    left: 0px;
    margin: calc(min(1vh,1vw));
    width: calc(max(16vw,34vh));
    height: 95dvh;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    font-size: calc(max(1.6vw,2.9vh));
}

/* Title Box *********** */

#titleBox{
    margin: calc(min(1vh,1vw));
    background-color: var(--deep-highlight);
    color: var(--pseudo-white);
    height: 16dvh;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    box-shadow: black 3px 3px 5px;
    cursor: pointer;
}

#title{
    font-size: 1.3em;
    font-weight: 700;
    margin: calc(min(1vh,1vw));
    padding-top: calc(min(1vh,1vw));
    margin-bottom: calc(min(1vh,1vw));
    transform: scaleY(1.35);
    text-shadow: 1px 1px 2px black;
}

#author{
    font-size: 0.6em;
    font-weight: 100;
    margin: calc(min(1vh,1vw));
}

/* Score Box *********** */

#scoreBox{
    margin: calc(min(1vh,1vw));
    background-color: var(--light-highlight);
    color: var(--pseudo-black);
    width: 100%;
    height: 10dvh;
    position: relative;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    box-shadow: black 3px 3px 5px;
}

.scoreText{
    font-weight: 700;
    font-size: 1em;
    margin: calc(min(1vh,1vw));
    position: absolute;
}

/* Instructions Box **** */

#instructionsBox{
    margin: calc(min(1vh,1vw));
    background-color: var(--pseudo-white);
    color: var(--pseudo-black);
    width: 100%;
    height: 57dvh;
    text-align: justify;
    padding-top: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    box-shadow: black 3px 3px 5px;
}

#instructionsBox p{
  font-size: 0.6em;
  padding: 20px;
  padding-bottom: 5px;
}

#instructionsBox h2{
  font-size: 0.8em;
  padding: 20px;
}

#checkButton {
  width: 101%;
  appearance: none;
  background-color: var(--deep-highlight);
  border-radius: 10px;
  border-style: none;
  box-shadow: white 5px 5px 6px inset, black -3px -3px 6px inset;
  box-sizing: border-box;
  color: var(--pseudo-white);
  cursor: pointer;
  display: inline-block;
  font-size: 7vh;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0 1vh 0 1vh;
  outline: none;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-shadow: 1px 1px 2px black;
  
}

#checkButton:hover {
  filter: brightness(1.2);
}

#checkButton:active {
  transform: scale(0.95);
  background-color: var(--light-highlight);
  box-shadow: black 5px 5px 6px inset, white -5px -5px 6px inset;
}

/* Right Column ********************** */

#rightColumn{
    margin: calc(min(1vh,1vw));
    width: calc(max(100vw - 17vw,100vh - 50vh));
    height: 95dvh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
}

#gridContainer{
    width: 99%;
    height: 64dvh;
    margin: calc(min(1vh,1vw));
    background-color: var(--pseudo-white);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    -webkit-transition: background-color, height 0.5s ease-in-out;
    -moz-transition: background-color, height 0.5s ease-in-out;
    -o-transition: background-color, height 0.5s ease-in-out;
    -ms-transition: background-color, height 0.5s ease-in-out;
    transition: background-color, height 0.5s ease-in-out;
    box-shadow: black 3px 3px 5px;
}

#arsenalContainer{
    width:99%;
    height: 28dvh;
    margin: calc(min(1vh,1vw));
    background-color: var(--light-highlight);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    -webkit-transition: background-color, height 0.5s ease-in-out;
    -moz-transition: background-color, height 0.5s ease-in-out;
    -o-transition: background-color, height 0.5s ease-in-out;
    -ms-transition: background-color, height 0.5s ease-in-out;
    transition: background-color, height 0.5s ease-in-out;
    box-shadow: black 3px 3px 5px;
}


/* Right side button column */

#buttonsColumn{
  position: absolute;
  right: 0.5vw;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

#buttonsColumn img{
  cursor: pointer;
  width: 2.25vw;
  height: auto;
  padding: calc(max(0.5vw,1vh));
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.buttonWrapper span {
  position: absolute;
  right: 100%;
  margin-top: 1.125vw;
  margin-left: 10px;
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.2s ease-in-out;
  text-shadow: 1px 1px 2px white;
  background-color: var(--pseudo-white);
  border-radius: 5px;
  background-color: var(--pseudo-white);
  border-radius: 5px;
  z-index: 1000;
}

.buttonWrapper:hover span {
  opacity: 1;
}

#buttonsColumn img:hover{
  scale: 1.05;
  filter: brightness(5);
}

#colorButton:hover{
  animation: shake;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes shake{
  10% {rotate: 20deg;}
  20%{rotate:-20deg;}
  30%{rotate: 20deg;}
  40%{rotate:-20deg;}
  50%{rotate: 0deg;}
}


/* GRID */

#grid{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: table;
    grid-template-columns: repeat(5, 3vw);
    grid-template-rows: repeat(3, 3vw);
    border-collapse: collapse;
}

.row{
    display: table-row;
}

.cell{
    display: table-cell;
    position: relative;
    width: 2.5vw;
    height: 2.5vw;
    font-size: 1.5vw;
    font-family: 'Avenir Regular';
    border-style: solid;
    border-color: var(--pseudo-black);
    border-width: 2px;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.cell:hover{
    background-color: var(--light-highlight);
}

.cell .label{
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0.5em;
}

.hidden{
    border-style: none;
    cursor: default;
}

.hidden:hover{
    background-color: var(--pseudo-white);
}

.main{
  background-color: var(--deep-highlight);
  color: var(--pseudo-white);
}

.main:hover{
  background-color: var(--deep-highlight);
}

.secondary{
  background-color: var(--light-highlight);
}

.hintList{
  width: 45%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.currentHint{
  background-color: var(--pseudo-black);
  color: var(--pseudo-white);
  border-radius: 3px;
}

.hint{
  width: 80%;
  cursor: pointer;
}