:root {
    --rectangle-light: #e1f7f5;
    --rectangle-deep: #9ac8cd;

    --background: #141e46;
    --pseudo-black: #141e46; 
    --deep-highlight: #C70039;
    --light-highlight: #FF7979;
    --pseudo-white: #FFF5E0;
    
  }

  @font-face {
    font-family: 'Avenir';
    src: url("../fonts/AvenirNextLTPro-UltLtCn.otf");
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: 'Avenir';
    src: url("../fonts/AvenirNextLTPro-MediumCnIt.otf");
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: 'Avenir';
    src: url("../fonts/AvenirNextLTPro-MediumCn.otf");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Avenir';
    src: url("../fonts/AvenirNextLTPro-Cn.otf");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Avenir';
    src: url("../fonts/AvenirNextLTPro-DemiCn.otf");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Avenir';
    src: url("../fonts/AvenirNextLTPro-HeavyCn.otf");
    font-weight: 900;
    font-style: normal;
  }

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Avenir';
    background-color: var(--background);
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    overflow-y: hidden; /* Blocks vertical scrolling */
    overflow-x: auto;
  }

  .no-select {
    user-select: none; /* For modern browsers */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
}

#leftColumn{
    left: 0px;
    margin: calc(min(1vh,1vw));
    width: calc(max(16vw,34vh));
    height: 95%;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    font-size: calc(max(1.6vw,2.9vh));
}

#titleBox{
    margin: calc(min(1vh,1vw));
    background-color: var(--deep-highlight);
    color: var(--pseudo-white);
    height: 16vh;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    box-shadow: black 3px 3px 5px;
}

#title{
    font-size: 1.3em;
    font-weight: 700;
    margin: calc(min(1vh,1vw));
    padding-top: calc(min(1vh,1vw));
    margin-bottom: calc(min(1vh,1vw));
    transform: scaleY(1.35);
    text-shadow: 1px 1px 2px black;
}

#author{
    font-size: 0.6em;
    font-weight: 100;
    margin: calc(min(1vh,1vw));
}

#scoreBox{
    margin: calc(min(1vh,1vw));
    background-color: var(--light-highlight);
    color: var(--pseudo-black);
    width: 100%;
    height: 10vh;
    position: relative;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    box-shadow: black 3px 3px 5px;
}

.scoreText{
    font-weight: 700;
    font-size: 1em;
    margin: calc(min(1vh,1vw));
    position: absolute;
}

#instructionsBox{
    margin: calc(min(1vh,1vw));
    background-color: var(--pseudo-white);
    color: var(--pseudo-black);
    width: 100%;
    height: 57vh;
    text-align: justify;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    box-shadow: black 3px 3px 5px;
    font-size: medium;
}


.currentLvl{
  font-size: 0.8em;
  font-weight: 700;
  font-style: normal;
  padding: 5px 20px 5px 20px;
}

.otherLvl{
  font-size: 0.7em;
  padding: 5px 20px 5px 20px;
  font-style: italic;
  font-weight: 300;
}

#instructionsTitle{
    padding-top: 0.2em ;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 0.8em;
    font-weight: 700;
    font-size: 3em;
}

.instructions{
    margin: 1vh; 
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0.6em; 
    font-size: 1em;
}


#checkButton {
  width: 101%;
  appearance: none;
  background-color: var(--deep-highlight);
  border-radius: 10px;
  border-style: none;
  box-shadow: white 5px 5px 6px inset, black -3px -3px 6px inset;
  box-sizing: border-box;
  color: var(--pseudo-white);
  cursor: pointer;
  display: inline-block;
  font-size: 7vh;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0 1vh 0 1vh;
  outline: none;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-shadow: 1px 1px 2px black;
  
}

#checkButton:hover {
  filter: brightness(1.2);
}

#checkButton:active {
  transform: scale(0.95);
  background-color: var(--light-highlight);
  box-shadow: black 5px 5px 6px inset, white -5px -5px 6px inset;
}


#rightColumn{
    margin: calc(min(1vh,1vw));
    width: calc(max(100vw - 17vw,100vh - 50vh));
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
}

#gridContainer{
    width: 99%;
    height: 64vh;
    margin: calc(min(1vh,1vw));
    background-color: var(--pseudo-white);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    box-shadow: black 3px 3px 5px;
}

.line{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.line span{
  width: calc(0.13*max(100vw - 17vw,100vh - 50vh));
  text-align: center;
  margin: auto;
  margin-top: -1vw;
  cursor: pointer;
}

#arsenalContainer{
    width:99%;
    height: 28vh;
    margin: calc(min(1vh,1vw));
    background-color: var(--light-highlight);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    box-shadow: black 3px 3px 5px;
}

.box{
    width: calc(0.13*max(100vw - 17vw,100vh - 50vh));
    height: 12.6vh;
    background-color: var(--rectangle-light);
    margin: calc(max(0.5vw,1vh));
    border-radius: calc(2*max(0.5vw,1vh));
    border-width: calc(max(0.5vw,1vh));
    border-style: solid;
    border-color: var(--pseudo-black);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: max(2.1vh,1.3vw);
    z-index: 500;
}

.smallBox{
  width: calc(0.13*max(100vw - 17vw,100vh - 50vh));
  height: 9vh;
  background-color: var(--rectangle-light);
  margin: auto;
  border-radius: calc(2*max(0.5vw,1vh));
  border-width: calc(max(0.5vw,1vh));
  border-style: solid;
  border-color: var(--pseudo-black);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 500;
}

#gridContainer .smallBox{
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.smoothTransitions{
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

@keyframes fadeIn {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes fadeOut {
  0%{opacity: 1;}
  100%{opacity: 0;}
}


.rectangle:hover {
    scale: 1.05;
  }


.label{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-left: 2vw;
    margin-right: 2vw;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
     -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    -webkit-transition: border-color 0.5s ease-in-out;
    -moz-transition: border-color 0.5s ease-in-out;
     -o-transition: border-color 0.5s ease-in-out;
    -ms-transition: border-color 0.5s ease-in-out;
    transition: border-color 0.5s ease-in-out;
}


.label:hover {
    scale: 1.05;
  }

.correctRectangle{
  position: absolute;
  cursor: pointer;
}


#buttonsColumn{
  position: absolute;
  right: 0.5vw;
  top: 0;
  width: 3vw;
  display: flex;
  flex-wrap: wrap;
}

#buttonsColumn img{
  cursor: pointer;
  width: 75%;
  height: auto;
  padding: calc(max(0.5vw,1vh));
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#buttonsColumn img:hover{
  scale: 1.05;
  filter: brightness(5);
}

#sliders{
  position: absolute;
  top: 1vh;
  left: 1vw;
  display: flex;
  flex-wrap: wrap;
  width: 25vw;
}

#sliders input{
  width: 10vw;
  margin-right: 0.5vw;
}

#sliders span{
  width: 8vw;
}

#sliders char{
  margin-right: 0.5vw;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 2px;  
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: var(--deep-highlight);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--deep-highlight);
  cursor: pointer;
}


.tableOne{
  display: flex;
}

.tableTwo{
  display: none;
}

@keyframes rotate {
  0%  {rotate: 0deg;}
  15% {rotate: 380deg;}
  30% {rotate: 360deg;}
  100%{rotate: 360deg;}
}

@keyframes switch{
  0%{transform: rotate3d(-1,-1,0,0deg);}
  15%{transform: rotate3d(-1,-1,0,180deg);}
  30%{transform: rotate3d(-1,-1,0,0deg);}
}

@keyframes shake{
  10% {rotate: 20deg;}
  20%{rotate:-20deg;}
  30%{rotate: 20deg;}
  40%{rotate:-20deg;}
  50%{rotate: 0deg;}
}

@keyframes smallShake{
  20% {rotate: 5deg;}
  40%{rotate:-5deg;}
  60%{rotate: 5deg;}
  80%{rotate:-5deg;}
  100%{rotate: 0deg;}
}

#resetButton:hover{
  animation: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#changeButton:hover{
  transform: rotate3d(-1,-1,0,180deg);
}

#colorButton:hover{
  animation: shake;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

.activePrevious:hover{
  animation: previous;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

.activeNext:hover{
  animation: next;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes previous {
  10%{
    translate: -0.5vw;
  }
  20%{
    translate: 0vw;
  }
  30%{
    translate: -0.5vw;
  }
  40%{
    translate: 0vw;
  }
}

@keyframes next {
  10%{
    translate: +0.5vw;
  }
  20%{
    translate: 0vw;
  }
  30%{
    translate: +0.5vw;
  }
  40%{
    translate: 0vw;
  }
}

.big{
  font-size: 2.5em;
}

.arrow{
  vertical-align: 0.2em;
  padding-bottom: 0.25em;
}

.box p{
  margin-top: 0;
  margin-bottom: 0;
}

.box{
  cursor: pointer;
}

.endWindow{
  position: absolute;
  width: 30vw;
  font-size: 1.5em;
  z-index: 2000;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--deep-highlight);
  color: var(--pseudo-white);
  padding: 0 3vw 0 3vw;
  border-radius: 2vw;
  border-style: solid;
  border-width: 1vw;
  border-color: var(--pseudo-black);
  animation: fade;
  animation-duration: 5s;
  display: none;
}

.endWindow p{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5px; 
  margin-top: 0;
}

@keyframes fade {
  0%{
    scale: 0;
  }
  20%  {
    scale: 1;
    opacity: 1;
    translate: 0;
  }
  80%  {
    scale: 1;
    opacity: 1;
    translate: 0;
  }
  100%{
    opacity: 0;
    translate: 0 -15vw;
  }
}

.red{
  background-color: pink;
  border-color: maroon;
}

.blue{
  background-color: lightskyblue;
  border-color: navy;
}

.green{
  background-color: darkseagreen;
  border-color: darkgreen;
}

.yellow{
  background-color: moccasin;
  border-color: darkgoldenrod;
}

.gray{
  background-color: gainsboro;
  border-color: darkslategray;
}

.hideColors{
  background-color: var(--rectangle-light);
  border-color: var(--pseudo-black);
}

.clickBox{
  background-color: var(--deep-highlight);
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--pseudo-black);
  z-index: 1;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}

.clickBox:hover{
  filter: brightness(1.2);
}